################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContractMonthlyClaimSystem/.vs
/ContractMonthlyClaimSystem/bin/Debug/net9.0
/ContractMonthlyClaimSystem/obj
/ContractMonthlyClaimSystem/Properties
/ContractMonthlyClaimSystem/wwwroot
/.vs/POE-Part3_PROG6212/v17
/.vs
